// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_mail_chat {
    @include o-position-absolute(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;

    .o_mail_annoying_notification_bar {
        height: 40px;
        background-color: #DFA941;
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        @include o-flex-display;
        border-bottom: 1px solid $o-main-color-muted;

        .o_mail_request_permission {
            @include o-flex-display;
            justify-content: center;
            @include o-flex(1,1, auto);
        }
        > span {
            font-size: 16px;
            line-height: 40px;
            > a {
                color: white;
                margin-left: 5px;
                text-decoration: underline;
            }

            &.fa-close {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

    .o_mail_chat_sidebar {
        width: $o-mail-chat-sidebar-width;
        height: 100%;
        float: left;
        overflow: auto;
        padding: $o-horizontal-padding 0;

        @media (min-width: $screen-lg-min) {
            width: $o-mail-chat-sidebar-width + 50px;
        }

        .o_mail_sidebar_title {
            @include o-flex-display;
            padding: 6px $o-horizontal-padding 0 $o-horizontal-padding;
            align-items: center;
            justify-content: space-between;
            h4 {
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .o_add {
                padding: 6px;
            }
            .o_mail_open_channels {
                cursor: pointer;
            }
        }
        .o_mail_chat_channel_item {
            @include o-flex-display;
            width: 100%;
            padding: 2px $o-horizontal-padding 2px ($o-horizontal-padding + 12px); // compensate icon

            .o_channel_name {
                @include o-flex(1, 1, auto);
                @include o-text-overflow;
            }
            .o_mail_sidebar_needaction, .o_mail_partner_unpin, .o_mail_channel_settings {
                @include o-flex(0, 0, auto);
            }
            .o_mail_sidebar_needaction {
                margin: 0 0 0 5px;
            }
            .o_mail_partner_unpin, .o_mail_channel_settings {
                padding: 2px 6px;
            }
            i.fa-envelope-o {
                margin-left: 3px;
            }

            &.o_mail_chat_title_main {
                padding: $padding-base-vertical $o-horizontal-padding;
                margin-bottom: 2px;
            }
        }

        .o_mail_chat_channel_item + .o_mail_sidebar_title {
            margin-top: $padding-base-vertical;
        }

        .o_mail_add_channel {
            width: 100%;
            padding: 5px ($o-horizontal-padding + 23px); // compensate icon
            position: relative;

            > input {
                width: 100%;
                padding: 2px 5px;
            }
            > span {
                @include o-position-absolute(7px, $left: 27px);
            }
        }
    }

    .o_mail_chat_content {
        @include o-flex-display;
        @include o-flex-flow(column, nowrap);
        height: 100%;
        margin-left: $o-mail-chat-sidebar-width;
        position: relative;
        @media (min-width: $screen-sm-min) {
            overflow: auto;
        }

        @media (min-width: $screen-lg-min) {
            margin-left: $o-mail-chat-sidebar-width + 50px;
        }

        .o_mail_thread {
            @include o-flex(1, 0, 0);
            overflow: auto;
            padding: 0 0 15px 0;
            -webkit-overflow-scrolling: touch; // smooth scrolling in iOS app (Safari)

            .o_chat_help_message {
                padding: 25px 0;
                text-align: justify;
            }
        }

        .o_mail_snackbar {
            @include o-position-absolute(15px, 15px);
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            background-color: darken($gray, 8%);
            color: white;
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_mail_chat {
    .o_mail_chat_sidebar {
        background-color: $gray-dark;
        color: $gray-lighter-dark;

        .o_mail_chat_channel_item {
            cursor: pointer;

            &:hover {
                background-color: darken($gray-dark,2%);

                .o_mail_partner_unpin, .o_mail_channel_settings {
                    opacity: $o-mail-sidebar-icon-opacity;
                }
            }

            &.o_active {
                background-color: $gray-darker;
                box-shadow: inset 3px 0 0 $o-brand-optional;
            }

            .o_mail_hash {
                opacity: 0.6
            }

            .o_mail_partner_unpin, .o_mail_channel_settings {
                @include o-hover-opacity($default-opacity: 0, $hover-opacity: 1);
            }
            &.o_unread_message {
                color: white;
                font-weight: bold;
            }

            > .badge {
                color: white;
                background-color: $o-brand-optional;
                font-size: 10px;
                line-height: 16px;
                height: 18px;
            }

            &.o_mail_chat_title_main {
                font-size: $font-size-base;

                &.o_mail_chat_title_starred > .badge {
                    background-color: $gray-light;
                    border-color: $gray-light;
                }
            }
        }

        > hr {
            border-color: $gray;
        }

        .o_mail_add_channel {
            display: none;
            > input {
                color: black;
            }
            > span {
                color: gray;
            }
        }

        .o_mail_sidebar_title {
            h4 {
                margin: 0;
                font-size: $font-size-small;
                text-transform: uppercase;
                color: $gray-light;
                &.o_mail_open_channels:hover {
                    color: white;
                }
            }
            .o_add {
                cursor: pointer;
                @include o-hover-opacity($o-mail-sidebar-icon-opacity, 1);
                @include o-hover-text-color($gray-light, white);
            }
        }
    }

    .o_mail_chat_content {
        background-color: white;
    }

    &.o_mail_selection_mode {
        .o_thread_message {
            opacity: 0.5;
            &.o_thread_selected_message {
                padding: 4px $o-horizontal-padding;
                opacity: 1;
                background-color: lightgray;
            }
        }
    }
}

.o_mail_user_status {
    font-size: 1em;
    position: relative;
    &.o_user_online {
        color: $o-brand-optional;
    }
    &.o_user_idle {
        color: $brand-warning;
    }
}


// ------------------------------------------------------------------
// Mobile
// ------------------------------------------------------------------
@media (max-width: $screen-xs-max) {
    .o_mail_chat {
        @include o-flex-display;
        @include o-flex-flow(column, nowrap);
        background: white;

        .o_mail_chat_mobile_inbox_buttons {
            @include o-flex-display;
            @include o-flex(0, 0, auto);
            z-index: 2;
            box-shadow: 0 2px 4px $gray-lighter-darker;

            .o_channel_inbox_item {
                @include o-flex(1, 1, auto);
                width: 50%;
                padding: 2%;

                &.btn-default {
                    border-bottom: 1px solid $gray-lighter-darker
                }
            }
        }

        .o_mail_chat_content {
            @include o-flex(1, 0, 0);
            margin-left: 10px;
            margin-right: 10px;
            background-color: transparent;
        }

        .o_mail_chat_tab_pane {
            overflow-x: scroll;
            .o_mail_add_channel {
                display: none;
                position: relative;
                padding: 5px 0px;
                margin: 10px;
                border: 1px solid #afafaf;
                border-radius: 4px;
                > span {
                    @include o-position-absolute($top: 10px, $left: 10px);
                }
                > input {
                    border: none;
                    padding: 5px 8px;
                    padding-left: 20px;
                }
            }
        }
        .o_mail_mobile_tabs {
            @include o-flex(0, 0, auto);
        }
    }
}

// ------------------------------------------------------------------
// Channel preview: shared between discuss (mobile) and systray
// ------------------------------------------------------------------

.o_mail_channel_preview {
    @include o-flex-display;
    background-color: $gray-lighter;
    color: $o-main-text-color;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:hover {
        background-color: $gray-lighter-dark;
        .o_channel_name {
            color: $headings-color;
        }
        .o_discuss_icon {
            opacity: 1;
        }
    }
    &:not(:last-child) {
        border-bottom: 1px solid $gray-lighter-darker;
    }
    .o_mail_channel_image {
        @include o-flex(0, 0, auto);
        position: relative;
        > img {
            @include square(100%);
            border-radius: 50%;
        }
        &.o_mail_channel_app > img {
            border-radius: 2px;
        }
        .o_mail_user_status {
            @include o-position-absolute($bottom: 0px, $right: 0px);
        }
    }
    .o_channel_info {
        @include o-flex(1, 1, 100%);
        overflow: hidden;
        .o_channel_title {
            @include o-flex-display;
            .o_channel_name {
                @include o-flex(0, 1, auto);
                @include o-text-overflow;
            }
            .o_channel_counter {
                @include o-flex(1, 1, auto);
            }
            .o_last_message_date {
                @include o-flex(0, 0, auto);
                color: $o-main-color-muted;
                font-weight: 500;
            }
        }
        .o_last_message_preview {
            width: 94%;
            max-height: 20px;
            color: $o-main-color-muted;
            @include o-text-overflow;
        }
    }
    .o_discuss_icon {
        opacity: 0;
    }
    &.o_channel_unread {
        background-color: transparent;
        &:hover {
            background-color: $gray-lighter;
        }
        .o_channel_info {
            .o_channel_title {
                .o_channel_name, .o_channel_counter {
                    font-weight: 700;
                }
                .o_last_message_date {
                    color: $o-brand-optional;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {

    .o_main_navbar > ul.o_menu_systray > li.open .dropdown-menu {
        border: none;
    }

    .o_mail_channel_preview {
        padding: $o-mail-chatter-mobile-gap;

        .o_mail_channel_image:not(img) {
            width: $o-mail-chatter-mobile-gap*6;
        }

        .o_channel_info, .o_last_message_date {
            margin-left: $o-mail-chatter-mobile-gap;
        }

        .o_channel_name {
            font-size: 1.1em;
        }

        .o_last_message_date {
            font-size: 0.9em;
        }

        .o_last_message_preview {
            margin-top: $o-mail-chatter-mobile-gap*0.5;
        }
    }

    .o_mail_mobile_tabs {
        @include o-flex-display;
        box-shadow: 0 0 8px $gray-lighter-darker;

        .o_mail_mobile_tab {
            @include o-flex-display;
            @include o-flex(1, 1, auto);
            width: 20%;
            @include o-flex-flow(column, nowrap);
            @include o-justify-content(space-between);
            padding: $o-mail-chatter-mobile-gap $o-mail-chatter-mobile-gap*2;
            box-shadow: 1px 0 0 $gray-lighter-darker;
            text-align: center;

            > span {
               display: block;
               font-weight: 500;
               font-size: 10px;

               &.fa {
                   padding-bottom: $o-mail-chatter-mobile-gap*2;
                   font-size: 1.3em;
               }
            }

            &.active > span {
                color: $o-brand-optional;
            }
        }
    }
}
